# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade setuptools
            pip install .
            pip install -r requirements.txt
      - run:
          name: Run linter
          command: |
            . venv/bin/activate
            python setup.py flake8
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            python setup.py test
      - run:
          name: Submit coverage
          command: |
            . venv/bin/activate
            coveralls
      - store_artifacts:
          path: htmlcov
          destination: test-reports
